!.config/openbox
!.config/terminator
!.config/tint2
.*auth*
.*license*
.*log*
.*swp
.adobe
.android
.arduino15
.bash*
.bazaar
.bundle
.cache
.cargo
.conkyrc
.docker
.dropbox
.eclipse
.fehbg
.fehgb
.fltk
.gem
.gimp*
.gksu.lock
.gnome
.gnupg
.gtkrc-2.0
.icons
.lesshst
.local
.m2
.mysql
.oh-my-zsh
.oracle_jre_usage
.pki
.rnd
.ssh
.subversion*
.swt
.task
.taskrc
.thumbnails
.tooling
.vim
.viminfo
.xournal
.xsession*
.zcompdump*
.zsh-update
