[user]
	email = drewmnoel@gmail.com
	name = Drew Noel
[alias]
	ci = commit
	co = checkout
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = drewmnoel@gmail.com
[push]
	default = simple
[core]
	pager = diff-so-fancy | less
	trustctime = true
	editor = vim
[pull]
	rebase = true
[diff]
	tool = meld
	algorithm = patience
[mergetool]
	meld = true
[merge]
	tool = meld
	ff = false
[pager]
	diff = diff-so-fancy | less
	show = diff-so-fancy | less
[commit]
	verbose = true
[rerere]
	enabled = true
